/* Add CSS Styling */
.odd-num {
  background-color: #FFA6A7;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#number-two {
  color: #0000FF;
  font-size: 36px;
}

.adjust-font-size {
  font-size: 24px
}

#number-four {
  background-color: #80FF80;
  font-weight: bold;
}
